html{
    background: url(https://res.cloudinary.com/doepoiym4/image/upload/v1668300821/retroback_g5artc.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* add a font that gives an 80's vibe*/
/* picking the perfect font took longer than I care to admit*/

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nameTheGame{
  font-family: 'Sonsie One', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
  color: orangered;
}



/*board*/

#boardGrid{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

#strike{
  position: absolute;
  background-color: orangered;
}

.first-row-strike{
  width: 100%;
  height: 4px;
  top: 15%;
}

.second-row-strike{
  width: 100%;
  height: 4px;
  top: 48%;
}

.third-row-strike{
  width: 100%;
  height: 4px;
  top: 83%;
}

/* tiles */

.tile{
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-right-bottom{
  border-right: solid rgb(5, 115, 166) 0.2em;
  border-bottom: solid rgb(5, 115, 166) 0.2em;
  
}
.border-bottom{
  border-bottom: solid rgb(5, 115, 166) 0.2em;
}
.border-right{
  border-right: solid rgb(5, 115, 166) 0.2em;
}